/* RESET STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* BACKGROUND SITE */
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(./images/background.png);
    background-position: center;
    background-size: cover;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12%;
    align-items: center;
    padding: 30px;
    width: 88%;
    margin: 0 auto;

}

.navbar__logo , .navbar__icone {
    height: 50px;

}

.navbar__lista {
    display: flex;
    flex: 1;
    gap: 2em;
    padding: 15px;
    text-decoration: none;

}

.navbar__lista li {
    list-style: none;
}

.navbar__links {
    text-decoration: none;
    color: #fff;
}


nav {
    display: flex;
    justify-content: space-between;
}

.navbar__icone {
    margin-left: 15px;
    cursor: pointer;
}